body {
    margin: 0;
    background-color: #25282A;
    box-sizing: border-box;
}

.slider {
    width: 90%;                     
    margin: auto;
    display: flex;
    flex-direction:column-reverse;
    
    
}

.slides {
    display: flex;
    overflow: hidden;
    align-items: center;
    padding-top: 2%;
    justify-content: flex-start;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    color: aliceblue;
}

img {
    border-radius: 10px;
}

.slides-separate {
    min-width: 100%;
    display: flex;
    justify-content: center; 
}

.bullets {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    transform: translateY(calc(-300%));
}

.mem {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    
    
}



@media (min-width: 1300px)  {
    .slider {
        width: 55%; 
}

}

@media (max-width: 768px)  {
    
    .bullets {
        
        justify-content: center;
        margin-top: -4%;
    }

    p {
        margin-top: 10%;
        font-size: 1em;
    }

}

@media (max-width: 475px)  {
    .bullets {
        
        justify-content: center;
        margin-top: -7%;
    }

    p {
        margin-top: 12%;
        font-size: 1em;
    }


    @media (max-width: 475px)  {
    .bullets {
        
        justify-content: center;
        margin-top: -7%;
    }

    p {
        margin-top: 12%;
        font-size: 1em;
    }

}
}

@media (max-width: 391px)  {
    .bullets {
        
        justify-content: center;
        margin-top: -14%;
    }

    p {
        margin-top: 20%;
        font-size: 1em;
    }

}

#slide1:checked  ~ .slides {
    transform: rotate(90deg)
}



 